.roundButton{
  background-color: transparent!important;
  border: none!important;
}
.list-group-item {
  line-height: 2.5;
}


/* FONTS */
.font_byline{
font-family: 'Roboto', 'Arial', sans-serif;
font-size: 20px;
}

.f_b_rs{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 20px;
  display: inline-block;
  padding-left: 125px;
  padding-top: 10px;
  }

.font_survey_body{
  font-family: 'Roboto', 'Arial', sans-serif;
}

.font_survey_title{
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #e4751b;
  font-size: 1.8rem;
}

.font_subtitle{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 50px;
  color: #e4751b; 
}

/* ROUND BUTTONS CSS ON HERO PAGES*/
.round-button {
  margin: 0 auto;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow:hidden;
  background:  #72aeda;
  /* REMEMBER TO SELECT BACKGROUND: COLORS  */
  /* box-shadow: 0 0 3px gray; */
}
.round-button-circle:hover {
  background:#223438;
}

.round-button-circle-gn {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow:hidden;
  background: #a2b738
  /* REMEMBER TO SELECT BACKGROUND: COLORS  */
  /* box-shadow: 0 0 3px gray; */
}
.round-button-circle-gn:hover{
  background:#223438;
}

.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:40%;
  padding-bottom:50%;
  padding-left: 5%;
  padding-right: 5%;
  line-height:1.25em;
  margin-top:-0.5em;
  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}
.button_loc_desk{
  bottom: 30px;
  left: 20px;
  position: absolute;
  width: 400px;
  background-color: transparent!important;
}
.left_btn{
float:left;
}
.right_btn{
float: right;
}

/* LOGIN MEMBER SIGNUP PAGES */
.containerf {
  width: 100%;
  margin: 0 auto;
  background-color: transparent!important;
}
.containerf_marg{
  margin-bottom: 60px;
  margin-left: 5px; 
  margin-right:5px;
}


.hero {
  display: block;
  width: 100%;
  /* padding-left: 10px;
  padding-right: 10px; */
  position: relative;
  background-color: transparent!important;
}
.hero img{
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.hero_img{
    display: block;
    position: relative;
    z-index: 0;
}
.hero_text {
  bottom: 300px;
  right: 200px;
  position: absolute;
  width: 340px;
  background-color: transparent!important;
}

/* ****** MODAL ****** */
.modal-dialogf {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
@media (min-width: 576px){
.modal-dialogf {
    max-width: 650px;
    height: auto;
    margin: 1.75rem auto;
}}
.logo_title{
  margin: -1rem auto -1rem -1rem;
}
.logo_title2{
  margin: 1rem auto -1rem -1rem;
}
.logo_title img{
  width: 35%;
  height: auto;
  vertical-align: middle;
}
.logo_titlers img{
  width: 35%;
  height: auto;
  vertical-align: middle;
}
.q_top_marg{
  margin-top: 7%;
}
.q_btm_marg{
  margin-bottom: 50px;
}
.b_top_marg{
  margin-top: 50px;
}
.button_loc_modal{
  margin: 0 auto;
  width: 340px;
  background-color: transparent!important;
}

/* V STANDS FOR VIDEO SIGNUP AND LOGIN PAGES INCLUDING VIDEO*/
.containerv {
  margin: 0 auto;
  background-color: transparent!important;
}
.containY{
  margin: 0 150px 0 50px;
}
.herov {
  display: block;
  margin-left: 200px!important;
  position: relative;
  /* background-color: black!important; */
}
.hero_text_video {
  top: 80px;
  left: 600px;
  position: absolute;
  width: 450px;
  z-index: 1;
  background-color: transparent!important;
}
.b_v_marg {
  margin-left: 50px;
}
.button_loc_video{
  bottom: -80px;
  left: 20px;
  position: absolute;
  width: 225px;
  background-color: transparent!important;
}
.left_btnv{
float:left;
}
.right_btnv{
float: right;
}

.cardmarg{
  margin-right: 100px;
  margin-bottom: 100px;
  }


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #223438;
    color: #999999;
    padding: 10px;
}
.footer-link {
    color: #999999;
}
.footer_memb{
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: 60px;
  background-color: #223438;
  color: #999999;
  padding: 10px 50px 10px 10px;
}
.footer-link_memb {
  color: #999999;
}

/* RS STANDS FOR RESOURCES RESOURCES PAGE NAVBAR AND LAYOUT */
.rsnav{
  border: #e6e6e6 1pt solid;
  padding: 0px;
  margin-bottom: 100px;
}
.logo_titlers{
  margin: 0;
}
.logo_titlers img{
  width: 35%;
  height: auto;
  vertical-align: middle;
}
.rs_v_align{
  vertical-align: text-top;}

    
  